node_modules
.DS_Store
dist/
typings/
*.orig
.idea/
*/src/**/*.js
*/src/**/*.js.map
**/.vscode/
.editorconfig
yarn.lock
*.log
react-examples
bin
obj
Properties
UFUX.csproj
UFUX.csproj.user
Web.config
Web.Debug.config
Web.Release.config